@charset "UTF-8";
.modal__hidden-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: font-family "Roboto", sans-serif;
  --light: #fff;
  --dark: #000;
  --accent: #2196f3;
  --background-color: #212121;
  --footer-color: #2F303A;
  --detail-color: #757575;
  --primary: #afb1b8;
  --light-color: #F5F4FA;
  --border-color: #EEEEEE;
  --overlay-color: rgba(33, 150, 243, 0.9);
}

:root {
  --main-font: font-family "Roboto", sans-serif;
  --light: #fff;
  --dark: #000;
  --accent: #2196f3;
  --background-color: #212121;
  --footer-color: #2F303A;
  --detail-color: #757575;
  --primary: #afb1b8;
  --light-color: #F5F4FA;
  --border-color: #EEEEEE;
  --overlay-color: rgba(33, 150, 243, 0.9);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* dałam oprócz "list-style: none;" to co powyżej,
   bo Alex powiedział na zajęciach praktycznych,
   że lepiej dawać właśnie po przecinku, w razie
   gdybyśmy chcieli jednak jakąś listę numerować
   czy wypunktować */
ul,
li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.secondary-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.section {
  padding-top: 94px;
}

.options__list {
  display: flex;
  justify-content: center;
}

.options__name:not(:last-child) {
  padding-right: 8px;
}

.option__link {
  background: #F5F4FA;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--background-color);
  cursor: pointer;
}

.option__link:hover, .option__link:focus {
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--light);
}

.portfolio-gallery__list {
  padding-top: 50px;
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -30px;
}

.portfolio-gallery-card__top-section {
  margin-top: 30px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.portfolio-gallery-card__top-section:hover, .portfolio-gallery-card__top-section:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-gallery-card__img {
  position: relative;
  overflow: hidden;
}

.portfolio-gallery-description__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--background-color);
  margin: 0;
  padding-top: 20px;
  padding-bottom: 4px;
}

.portfolio-gallery-description__category {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--detail-color);
}

.header .contact {
  margin-left: auto;
}

.contact {
  list-style-type: none;
}

.hero {
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  object-fit: contain;
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
}

.hero .container {
  max-width: 1200px;
  align-items: center;
}

.hero__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light);
  padding-bottom: 30px;
  margin: auto;
}

.navigation__list {
  display: flex;
  align-items: center;
}

/* teraz przyciski "Agencja/Portfolio/Kontakt" 
       są w jednym wierszu */
.navigation__item:not(:last-child) {
  padding-right: 45px;
}

.navigation__link {
  position: relative;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--background-color);
  cursor: pointer;
}

.navigation__link.current {
  color: var(--accent);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent);
}

.navigation__link.current::after {
  content: "";
  display: block;
  width: 53px;
  height: 4px;
  background-color: var(--accent);
  position: absolute;
  top: 45px;
  border-radius: 2px;
  left: 2px;
}

.adress-email-telefon {
  padding-left: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--detail-color);
}

.adress-email-telefon:hover, .adress-email-telefon:focus {
  color: var(--accent);
  fill: var(--accent);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-email-telefon:not(:last-child) {
  margin-right: 50px;
}

.adress-email-telefon:active {
  text-decoration: underline;
}

.contact {
  display: flex;
}

.contact__list {
  display: flex;
}

.contact__item {
  fill: var(--detail-color);
}

.contact__item:last-child {
  margin-left: 30px;
}

.phone-icon-link {
  display: flex;
  text-decoration: none;
}

.icon-envelope {
  margin-right: 10px;
}

.icon-phone {
  margin-right: 10px;
}

.footer-things {
  background-color: var(--footer-color);
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo--light {
  color: var(--light);
}

.place {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  height: 21px;
  display: inline-block;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  color: var(--light);
}

.place:active {
  text-decoration: underline;
}

.mail {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  height: 21px;
  display: inline-block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail:active {
  text-decoration: underline;
}

.telefon {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  height: 21px;
  display: inline-block;
  letter-spacing: 0.02em;
  color: var(--detail-color);
}

.telefon:active {
  text-decoration: underline;
}

.adress-footer {
  padding-top: 20px;
}

.two-side {
  display: flex;
  align-items: baseline;
}

.left-side {
  display: block;
}

.right-side {
  margin-left: 70px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent);
  text-decoration: none;
  margin-right: 93px;
  display: flex;
  align-items: center;
}

.logo--dark {
  color: var(--dark);
}

.portfolio-gallery-card__overlay {
  background-color: var(--overlay-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 49px 45px 49px 24px;
  color: var(--light);
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
}

.portfolio-gallery-card__top-section:hover .portfolio-gallery-card__overlay,
.portfolio-gallery-card__top-section:focus .portfolio-gallery-card__overlay {
  transform: translateY(0);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-gallery-description__bottom-section {
  padding: 15px 24px 20px 24px;
  border-bottom: 1px solid var(--third-color);
  border-left: 1px solid var(--third-color);
  border-right: 1px solid var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.our-team-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
}

.our-team-social__item {
  justify-content: center;
}

.our-team-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--primary);
  background-color: var(--light);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.our-team-social__link:hover, .our-team-social__link:focus {
  cursor: pointer;
  fill: var(--light);
  background-color: var(--accent);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social__icon {
  width: 20px;
  height: 20px;
  align-items: center;
  display: block;
}

.follow-us {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: var(--light);
}

.follow-us__list {
  display: flex;
  align-items: center;
}

.follow-us__item:not(:last-child) {
  margin-right: 10px;
}

.follow-us__link {
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--light);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.follow-us__link:hover, .follow-us__link:focus {
  fill: var(--light);
  background-color: var(--accent);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-us__icon {
  width: 20px;
  height: 20px;
  display: block;
}

.form-footer {
  display: flex;
  align-items: flex-end;
}

.label-footer {
  display: flex;
  flex-direction: column;
  padding-left: 78px;
  padding-right: 12px;
}

.newsletter {
  height: 16px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
}

.btn-newsletter {
  font-family: Roboto;
  cursor: pointer;
  border: 0;
  padding: 10px 47px;
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--light);
}

.btn-newsletter:after {
  content: url("../images/icon-send.svg");
  padding-left: 24px;
  width: 24px;
  height: 24px;
}

.btn-newsletter::placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-area {
  margin-top: 20px;
  padding-left: 15px;
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.email-area:hover,
:focus {
  border-color: var(--accent);
  outline: none;
}
/*# sourceMappingURL=portfolio.css.map */