    .our-services__list {
    display:  flex;
    justify-content: space-between;
    }
        
    .our-services__item {
    align-items: center;
    width: 370px;
    margin-top: 50px;
    margin-bottom: 94px;
    }




    .our-services__text {
    padding: 27px 0;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    color: var(--light);
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    }