    .why-us__list /*ul class*/ {
    display: flex;
    }
    /*jak dałam flex-wrap: wrap; to się usunęły kolumny*/
    
    .why-us__item:not(:last-child) {
    margin-right: 30px;
    }

    .why-us-card__icon-background {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: var(--light-color);
    border-radius: 4px;
    }

@media screen and (max-width: 480px) {
    .why-us-card__icon-background {
        width: 450px;
        height: 120px;
    }
    .why-us-card__name {
        text-align: center;
    }
}

    .why-us-card__icon {
    display: flex;  
    display: block;
    justify-content: center;
    width: 70px;
    height: 70px;
    }

    .why-us-card__name {
    margin-top: 30px;
    padding-bottom: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color);
    }

    .why-us-card__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--detail-color);
    }