    .logo {
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;    
    color: var(--accent);
    text-decoration: none;
    margin-right: 93px;
    display: flex;
    align-items: center;
    }

    .logo--dark {
    color: var(--dark);
    }
