.hero__modal-btn {
    padding: 17px 40px 17px 40px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
      font-family: "Roboto";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      display: block;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: none;
      background-color: var(--accent);   
      color: var(--light);
      cursor: pointer;
      }