.container {
    width: 480px;
    align-items: center;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        align-items: center;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        align-items: center;
        margin: 0 auto;
    }
}

.content-wrapper {
    display: flex;
}

/*

.container {
width: 1200px;
padding: 0 15px; 
align-items: center;
margin: 0 auto;
}

.header .container {
display: flex;
align-items: center;
padding-top: 24px;
padding-bottom: 24px;
border-bottom: 1px solid #ececec;
}

*/ 