.container {
    width: 100%;
    padding: 0 15px;
}

@media screen and (max-width: 480px) {
    .container {
        max-width : 480px;
    }
}

.mobile-column {
    display: flex;
}

@media screen and (max-width: 480px) {
    .mobile-column {
    flex-direction: column;
}
}

.menu {
    background-image: url(../images/bars-solid.svg);
}

/*

.container {
width: 1200px;
padding: 0 15px; 
align-items: center;
margin: 0 auto;
}

.header .container {
display: flex;
align-items: center;
padding-top: 24px;
padding-bottom: 24px;
border-bottom: 1px solid #ececec;
}

*/ 