:root {
  --main-font: font-family "Roboto", sans-serif;
  --light: #fff;
  --dark: #000;
  --accent: #2196f3;
  --background-color: #212121;
  --footer-color: #2F303A;
  --detail-color: #757575;
  --primary: #afb1b8;
  --light-color: #F5F4FA;
  --border-color: #EEEEEE;
  --overlay-color: rgba(33, 150, 243, 0.9);
  }